* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    user-select: none;
}

.header {
    height: 100vh;
    width: 100%;
    background-image: url(img/developer.jpg);
    justify-content: center;
    background-position: center;
    background-size: cover;
}

.index_c {
    width: 600px;
    color: white;
    font-family: "Sofia", sans-serif;
    font-size: 30px;
    font-size: 48px;
    cursor: pointer;
    margin: 0 auto;
}

.btn {
    width: 200px;
    height: 60px;
    background: none;
    color: white;
    border: 2px solid white;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.9s;
}

.btn1 {
    width: 200px;
    height: 60px;
    background: none;
    color: white;
    border: 2px solid white;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 250px;
    transition: all 0.9s;
    margin-left: 200px;
}

button:hover {
    background-color: rgb(140, 0, 255);
    border: 2px solid rgb(140, 0, 255);
}

.container {
    width: 840px;
    height: 460px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    background-color: rgba(22, 22, 22, 0.5);
    backdrop-filter: blur(3px);
    position: relative;
    top: 250px;
    border-radius: 20px;
}

.box {
    display: flex;
    flex-flow: row wrap;
    padding: 15px;
}

.img13 {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    margin-left: 15px;
}

@media screen and (max-width:1017px) {
    .container {
        width: auto;
        height: auto;
        margin-right: 25px;
        margin-left: 25px;
    }
    .btn {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 774px) {
    .box {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

@media screen and (max-width:704px) {
    .btn1 {
        margin-left: -500px;
    }
}

@media screen and (max-width:615px) {
    .btn1 {
        margin: 0 auto 25px;
    }
    .btn {
        margin-bottom: 15px;
    }
}


/* 
    @media screen and (max-width:640px) {
        .btn1 {
            margin-top: -500px;
            margin-left: 150px;
        }
    } */