@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', 'Mulish', sans-serif;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

@font-face {
    font-family: face;
    src: url();
}

:root {
    --bg-h-header: #F2F2F2;
    --text-desc: #1C2752;
    --bg-orange: #FFB342;
    --desc: #7E7E7E;
    --text-ff: #FFFFFF;
    --text-f4: #F4F4F4;
    --text-d2: #D2D2D2;
    --text-f5: #f5f5f5;
}

.help-header {
    width: 100%;
    height: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-h-header);
}

.h-h-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.open-hour {
    font-family: Inter;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.36000001430511475px;
    text-align: left;
}

.social {
    width: 156px;
    height: 29px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.scale-hover {
    transition: all 0.3s;
}

.scale-hover:hover {
    transform: scale(1.5);
}


/* contact header */

.contact-header {
    width: 100%;
    height: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-header-box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contacts {
    width: 622.25px;
    height: 68px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.c-item {
    width: 257.84375px;
    height: 68px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.c-logo {
    width: 68px;
    height: 68px;
    border-radius: 50%;
    background-color: var(--bg-orange);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

.t-text {
    font-family: Mulish;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.36000001430511475px;
    text-align: left;
    color: var(--text-desc);
}

.d-text {
    font-family: Inter;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.36000001430511475px;
    text-align: left;
    color: var(--desc);
}

.m-l-r-65 {
    margin: 0 65px;
}


/* contact-header end */


/* navbar start */

.navbar {
    width: 100%;
    height: auto;
    position: sticky;
    top: 0;
    z-index: 9999;
}

.navbar-box {
    width: 100%;
    height: 88px;
    background-color: var(--bg-orange);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 20px;
    position: relative;
    z-index: 9999;
}

.nav-list {
    width: 643.21875px;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pad-19 {
    padding: 19px 42px;
    background-color: var(--text-desc);
    color: var(--text-f4);
}

.t-hover,
.bg-hover {
    transition: all 0.3s;
}

.t-hover:hover {
    color: var(--text-ff);
}

.bg-hover {
    outline-offset: -255px;
    outline-style: solid;
    outline-width: 0;
    outline-color: transparent;
}

.bg-hover:hover {
    color: var(--text-ff);
    outline-style: solid;
    outline-width: 3px;
    outline-color: var(--text-ff);
    outline-offset: -5px;
}


/* navbar end */


/* h-hero start */

.h-hero {
    width: 100%;
    height: 813px;
    background: url("../img/s-h-bg.png") no-repeat center;
    background-size: cover;
    padding-top: 270px;
    position: relative;
    top: -58px;
    z-index: 1;
}

.h-hero-box {
    width: 100%;
    height: auto;
}

.desc {
    width: 662px;
    height: 29px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.36000001430511475px;
    text-align: left;
    color: var(--text-ff);
    background-color: rgba(255, 255, 255, 0.28);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 60px;
}

.before-set {
    position: relative;
}

.before-set::before {
    width: 30px;
    height: 29.000001907348633px;
    background: url("../img/h-before-settings.svg") no-repeat center;
    content: "";
    position: absolute;
    left: 20px;
    top: 0;
}

.title {
    width: 712px;
    height: 156px;
    font-family: Mulish;
    font-size: 60px;
    font-weight: 400;
    line-height: 78px;
    letter-spacing: 1.2000000476837158px;
    text-align: left;
    color: var(--text-ff);
    margin-top: 31px;
    margin-bottom: 29px;
}

button {
    cursor: pointer;
}

.btn {
    border: none;
    background-color: var(--bg-orange);
    color: var(--text-desc);
}


/* h-hero end */


/* Welcome start */

.welcome {
    width: 100%;
    height: auto;
    padding-top: 139.98px;
    padding-bottom: 139.64px;
}

.welcome-box {
    width: 100%;
    /* height: 581.375px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col-img {
    margin-right: 50px;
}

.col-img>img {
    width: 575px;
    height: 581px;
}

.col-text {
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: start;
    align-items: start;
}

.d-font {
    width: 249px;
    height: 27px;
    background-color: var(--text-f4);
    padding-left: 53px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.desc-font {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.36000001430511475px;
    text-align: left;
    color: var(--text-desc);
}

.title-font {
    font-family: Mulish;
    font-size: 45px;
    font-weight: 400;
    line-height: 59px;
    letter-spacing: 0.36000001430511475px;
    text-align: left;
    color: var(--text-desc);
}

.t-font {
    margin-top: 22px;
}

.description {
    color: var(--desc);
}

.w1 {
    width: 552px;
    height: 81px;
    margin: 12px 0 10px;
}

.w2 {
    width: 571px;
    height: 81px;
    font-size: 17px !important;
    margin-bottom: 17.17px;
}

.wel-flex {
    width: 575px;
    height: 240px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.flex35 {
    width: 198px;
    height: 220px;
    background-color: var(--text-f4);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-right: 39.67px;
}

.t35 {
    font-family: Mulish;
    font-size: 80px;
    font-weight: 400;
    line-height: 88px;
    letter-spacing: 0.36000001430511475px;
    text-align: center;
    color: var(--bg-orange);
    margin-bottom: 16px;
}

.ty {
    width: 112px;
    height: 52px;
    text-align: center;
}

.flex-list {
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
}

.fl-item {
    margin: 5px 0 5px;
}

.d-font::before {
    width: 23px;
    height: 27px;
    background: url("../img/s-before-blue.svg") no-repeat center;
    background-size: cover;
    content: "";
    position: absolute;
    left: 20px;
    top: 0;
}


/* Welcome end */


/* Offer start */

.offer {
    width: 100%;
    height: 900px;
    background-color: var(--bg-orange);
}

.offer-box {
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
}

.w207 {
    width: 207px;
    padding: 3.5px 0 3.5px 53px;
}

.d-desc {
    width: 832px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 37.36px;
}

.btn-box {
    width: 100%;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-font {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.36000001430511475px;
    text-align: left;
    color: var(--text-desc);
    border: 1px solid;
}

.btn-box>button:nth-child(1) {
    padding: 19px 41px 19px 87px;
}

.btn-box>button:nth-child(2),
.btn-box>button:nth-child(3) {
    padding: 19px 41px 19px 85px;
}

.btn-box>button {
    position: relative;
}

.btn-box>button:nth-child(1)::before {
    content: "";
    width: 36px;
    height: 36px;
    background: url("../img/s-o-com.png") no-repeat center;
    background-size: 36px 36px;
    position: absolute;
    left: 41px;
    top: 16px;
}

.btn-box>button:nth-child(2)::before {
    content: "";
    width: 34px;
    height: 34px;
    background: url("../img/s-o-res.png") no-repeat center;
    background-size: 34px 34px;
    position: absolute;
    left: 41px;
    top: 17px;
}

.btn-box>button:nth-child(3)::before {
    content: "";
    width: 34px;
    height: 34px;
    background: url("../img/s-o-ind.png") no-repeat center;
    background-size: 34px 34px;
    position: absolute;
    left: 41px;
    top: 17px;
}

.btn-before {
    transition: all 0.3s;
}

.btn-before:hover,
.btn-active {
    background-color: var(--text-ff);
    border-color: var(--text-ff);
}

.m-l-r {
    margin: 0 30px;
}

.offer-white-box {
    width: calc(100% - 40px);
    /* height: 528px; */
    background-color: var(--text-ff);
    box-shadow: -1px 6px 18px rgba(0, 0, 0, 0.09);
    position: relative;
    top: 40px;
    padding: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.col-1 {
    width: 624px;
    height: 408px;
}

.el-font {
    width: 259px;
    height: 28px;
    font-family: Inter;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.36000001430511475px;
    text-align: left;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 58px;
    background-color: var(--text-f4);
    position: relative;
}

.el-font::before {
    content: "";
    position: absolute;
    left: 20px;
    top: 0;
    width: 28px;
    height: 28px;
    background: url("../img/s-y-com.png") no-repeat center;
    background-size: 28px 28px;
}

.m-t-b-22 {
    margin: 22px 0 12px;
}

.read-more {
    margin-top: 27px;
    border: none;
}

.d-w1 {
    width: 507px;
}

.d-w2 {
    width: 549px;
}

.m-t-b {
    margin: 12px 0 10px;
}

.col-2>img {
    width: 416px;
    height: 366px;
}


/* Offer end */


/* OUR-SERVICES */

.our-services {
    width: 100%;
    height: 1397px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--text-f4);
    padding-top: 240.36px;
}

.o-services-box {
    width: 100%;
    height: 1017px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.all-before {
    display: inline-block;
    background-color: var(--text-ff);
    padding: 0 20px 0 52px;
}

.desc-before {
    position: relative;
}

.desc-before::before {
    content: "";
    position: absolute;
    top: 0;
    left: 20px;
    width: 22px;
    height: 27px;
    background: url("../img/all-before.svg") no-repeat center;
    background-size: 22px 27px;
}

.o-s-card-box {
    width: 100%;
    margin-top: 47px;
}

.o-s-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.o-s-card {
    width: 380px;
    height: 378px;
    padding: 50px 46px 50px 35px;
    background-color: var(--text-desc);
    transition: all 0.3s;
}

.o-s-card:hover {
    cursor: move;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

.o-title {
    font-family: Mulish;
    font-size: 25px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0.36000001430511475px;
    text-align: left;
    color: var(--bg-orange);
    margin: 20px 0 15px;
}

.o-desc {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.36000001430511475px;
    text-align: left;
    color: var(--text-d2);
}

.fz-17 {
    font-size: 17px !important;
}

.m-t-b-20-15 {
    margin: 20px 0 15px;
}

.view {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.36000001430511475px;
    text-align: left;
    color: var(--text-ff);
    background: transparent;
    border: none;
    margin-top: 22px;
    transition: all 0.3s;
}

.view:hover {
    color: var(--bg-orange);
}

.m-b-30 {
    margin-bottom: 30px;
}


/* OUR-SERVICES END */


/* REASONS */

.reasons {
    width: 100%;
    height: 848px;
    background-color: var(--text-ff);
}

.reasons-box {
    width: 1440px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bg-f4 {
    background-color: var(--text-f4) !important;
}

.m-b-23 {
    margin: 9.62px 0 23px;
}

.m-t-11 {
    margin: 11px 0 37.36px;
}

dl {
    width: 501.5px;
    height: 341px;
    position: relative;
    padding-left: 52px;
}

.dt {
    font-family: Mulish;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.36000001430511475px;
    text-align: left;
    color: var(--text-desc);
    /* position: relative; */
}

.dt::before {
    content: "";
    width: 32px;
    height: 32px;
    position: absolute;
    left: 0;
    background: url("../img/success.svg") no-repeat center;
    background-size: 32px 32px;
}

.dd {
    font-family: Inter;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.36000001430511475px;
    text-align: left;
    color: var(--desc);
    margin: 8px 0 32px;
}

.r-bg-img {
    width: 720px;
    height: 100%;
    background: url("../img/r-bg-img.png") no-repeat center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.r-count-box {
    width: 560px;
    height: 568px;
    background-color: rgba(28, 39, 82, 0.86);
    padding: 100.36px 80px 0;
}

.project-item {
    width: 100%;
    height: 67px;
    display: flex;
    margin-bottom: 23px;
}

.num {
    width: 110px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-orange);
    color: var(--text-desc);
    font-family: Mulish;
    font-size: 24px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.36000001430511475px;
    text-align: left;
}

.p-item-title {
    display: inline-block;
    width: 290px;
    height: 100%;
    font-family: Mulish;
    font-size: 25px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.36000001430511475px;
    text-align: left;
    border: 1px solid var(--text-ff);
    border-left: none;
    color: var(--text-ff);
    padding: 16px 0 0 20px;
}

.r-title-box {
    width: 720px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 70px;
}

.r-t-box {
    width: 590px;
    height: 692px;
}


/* REASONS END */


/* GALLERY */

.gallery {
    width: 100%;
    height: 981px;
    background-color: var(--text-desc);
    padding: 140.36px 0 120.05px;
}

.gallery-box {
    width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.gallery-flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-item {
    width: 320px;
    height: 477px;
    background-color: var(--text-ff);
    padding: 21px 21px 26px;
}

.f-item-font {
    font-family: Mulish;
    font-size: 25px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0.36000001430511475px;
    text-align: center;
}

.company {
    text-align: center;
}

.m-t-b-49 {
    margin: 22px 0 49px;
}

.white {
    color: var(--text-ff) !important;
}

.m-27 {
    margin: 27px 0 4px;
}


/* GALLERY END */


/* APP FORM */

.app-form {
    padding: 140px 0 60px;
}

.app-form-box {
    width: 100%;
    height: 947px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.app-one {
    width: 591.0625px;
    height: 947px;
}

.com-box {
    width: 591px;
    height: 378px;
    padding: 41px 41px 38px;
    border: 1px solid #ddd;
    margin-bottom: 40px;
}

.c-b-imgs {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #DCDCDC;
    padding-bottom: 28px;
    margin-bottom: 19px;
}

.img-title {
    margin-left: 10px;
}

.name {
    font-family: Mulish;
    font-size: 22px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0.36000001430511475px;
    text-align: left;
    color: var(--text-desc);
}

.city {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.36000001430511475px;
    text-align: left;
    color: var(--desc);
}

.img-left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.c-b-comment {
    margin-bottom: 23px;
}

.comment {
    font-family: Inter;
    font-size: 18px;
    font-style: italic;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0.36000001430511475px;
    text-align: left;
    color: var(--desc);
}

.blue-col {
    font-family: Inter;
    font-size: 18px;
    font-style: italic;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0.36000001430511475px;
    text-align: left;
    color: var(--text-desc);
}

.btns {
    width: auto;
    display: flex;
}

.arrow-left,
.arrow-right {
    height: 50px;
    width: 50px;
    border-radius: 100px;
    background-color: var(--text-f4);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-right {
    margin-left: 21px;
}

.a-left,
.a-right {
    width: 12px;
    height: 12px;
    display: inline-block;
    border-left: 3px solid var(--text-desc);
    border-top: 3px solid var(--text-desc);
}

.a-left {
    transform: rotate(-45deg);
}

.a-right {
    transform: rotate(135deg);
}

.any {
    width: 100%;
    height: 330px;
    background-color: var(--bg-orange);
    padding: 60px 68px 50px 40px;
}

.any-title {
    font-family: Mulish;
    font-size: 25px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.36000001430511475px;
    text-align: left;
    color: var(--text-desc);
    margin: 21px 0 13px;
}

.any-desc {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.36000001430511475px;
    text-align: left;
    color: var(--text-desc);
    margin-bottom: 22px;
}

.any-tell {
    font-family: Mulish;
    font-size: 30px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0.36000001430511475px;
    text-align: left;
    color: var(--text-ff);
    padding-left: 70px;
    position: relative;
}

.any-tell::before {
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    top: -3px;
    left: 0;
    background: url("../img/any-call.svg") no-repeat center;
    background-size: 50px 50px;
}

.mb-22-41 {
    margin: 22px 0 41px;
}

.app-two {
    width: 564px;
    height: 947px;
}

.app-two-form {
    width: 100%;
    height: 758px;
    background-color: var(--text-f4);
    padding: 70px 40px 65px;
}

.app-two-form>input,
.app-two-form>textarea {
    width: 100%;
    margin-bottom: 25px;
    padding: 19px 0 19px 44px;
}

.app-two-form>input[type="text"],
.app-two-form>input[type="email"],
.app-two-form>input[type="number"] {
    color: var(--text-desc) !important;
    outline: none;
}

.app-two-form>input[type="text"]::placeholder,
.app-two-form>input[type="email"]::placeholder,
.app-two-form>input[type="number"]::placeholder,
.app-two-form>textarea::placeholder {
    color: var(--text-desc) !important;
}

.app-two-form>textarea {
    width: 100%;
    height: 150px;
    resize: none;
    outline: none;
    font-size: 17px !important;
    margin-bottom: 35px;
}

.app-two-form>input[type="submit"] {
    font-family: Inter;
    font-size: 17px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0.36000001430511475px;
    text-align: left;
    color: var(--text-desc);
    text-align: center;
    padding: 21px 0;
    background-color: var(--bg-orange);
    border: 2px solid var(--bg-orange);
    cursor: pointer;
    transition: all 0.3s;
}

.app-two-form>input[type="submit"]:hover {
    background-color: var(--text-ff);
}


/* APP FORM END */


/* cleints */

.cleints {
    width: 100%;
    height: auto;
    margin-bottom: 140px;
}

.cleints-box {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.c-links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* cleints end */


/* PRICE-PLAN */

.price-plan {
    width: 100%;
    height: 1352px;
    padding-top: 140px;
    padding-bottom: 130px;
    background-color: var(--text-f4);
}

.price-box {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.plan-title {
    width: 100%;
    height: 195px;
    display: flex;
    justify-content: space-between;
}

.plan-col-1 {
    width: 592px;
    height: 175px;
}

.plan-col-1>.title-font {
    width: 497px;
}

.m-t-41 {
    margin-top: 41px;
}

.m-b-40 {
    margin-bottom: 40px;
}

.plan-col-2 {
    width: 585px;
    height: 108px;
}

.plan-cards {
    width: 100%;
    height: 663px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 62px;
}

.plan-card {
    width: 380px;
    height: 663px;
    background-color: var(--text-ff);
    padding: 40px 40px 50px;
}

.plan-card-head {
    width: 300px;
    height: 111px;
    border-bottom: 1px solid #D7D7D7;
    position: relative;
    margin-bottom: 29px;
}

.plan-popular {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3199999928474426px;
    text-align: left;
    color: var(--text-desc);
    padding: 0 10px;
    background: var(--bg-orange);
    position: absolute;
    top: 12px;
    right: 25px;
}

.tarif-title {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.4000000059604645px;
    text-align: left;
    color: var(--text-desc);
}

.tarif {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.tarif-price {
    font-family: Mulish;
    font-size: 32px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.36000001430511475px;
    text-align: left;
    color: var(--text-desc);
}

.tarif-desc {
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3199999928474426px;
    text-align: left;
    color: var(--desc);
}

.plan-card-body {
    width: 100%;
    height: 309px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 55px;
}

.plan-before {
    font-family: Inter;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.36000001430511475px;
    text-align: left;
    color: var(--desc);
    padding-left: 31px;
    position: relative;
}

.plan-before::before {
    content: "";
    position: absolute;
    left: 0;
    top: 4px;
    width: 19px;
    height: 19px;
    background: url("../img/plan-before.svg") no-repeat center;
    background-size: 19px 19px;
}

.plan-btn {
    width: 100%;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.36000001430511475px;
    text-align: center;
}

.plan-desc-box {
    width: 100%;
    height: 124px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.p-d-price,
.p-d-plan {
    width: 585px;
    height: 100%;
    padding-left: 47px;
    position: relative;
}

.w-t-1,
.w-t-2 {
    margin-top: 9px;
}

.w-t-1 {
    width: 501px;
}

.w-t-2 {
    width: 527px;
}

.success-before::before {
    content: "";
    width: 32px;
    height: 32px;
    position: absolute;
    left: 0;
    top: 0;
    background: url("../img/success.svg") no-repeat center;
    background-size: 32px 32px;
}


/* PRICE-PLAN END */


/* ARTICLES */

.articles {
    width: 100%;
    height: auto;
    padding: 140px 0 80px;
}

.articles-box {
    width: 100%;
    height: 860.734375px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.arti-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.arti {
    width: 580px;
    height: 644px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.arti-user-time {
    width: 100%;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -31px;
}

.arti-user {
    width: 180px;
    height: 100%;
    background-color: #FFC368;
    position: relative;
    padding: 20px 38px 19px 66px;
}

.arti-user::before {
    content: "";
    position: absolute;
    top: 21px;
    left: 38px;
    width: 18px;
    height: 20px;
    background: url("../img/arti-user.svg") no-repeat center;
    background-size: contain;
}

.arti-user-2::before {
    position: absolute;
    left: 26px !important;
}

.arti-user-2 {
    position: relative;
    padding: 20px 25px 19px 54px !important;
}

.arti-time {
    width: 181px;
    height: 100%;
    background-color: var(--bg-orange);
    position: relative;
    padding: 20px 25px 19px 53px;
}

.arti-time::before {
    content: "";
    position: absolute;
    left: 26px;
    top: 22px;
    width: 18px;
    height: 18px;
    background: url("../img/arti-time.svg") no-repeat center;
    background-size: contain;
}

.arti-user,
.arti-time {
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.30000001192092896px;
    text-align: center;
    color: var(--text-desc);
}

.arti-title {
    font-family: Mulish;
    font-size: 30px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0.36000001430511475px;
    text-align: left;
    color: var(--text-desc);
    margin-bottom: 16px;
}

.arti-view {
    background: transparent;
    border: none;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.4000000059604645px;
    text-align: left;
    color: var(--text-desc);
    margin-top: 17px;
}


/* ARTICLES END */


/* SUBSCRIBE */

.subscribe {
    width: 100%;
    height: 328px;
    background-color: var(--bg-orange);
    padding-top: 141px;
}

.sub-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.sub-title {
    width: 410px;
}

.sub-form {
    width: 570px;
    height: 68px;
}

.sub-form>form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-form>form>input[type="email"] {
    width: 391px;
    height: 70px;
    background: transparent;
    border: 2px solid var(--text-ff);
    border-right: none;
    font-family: Inter;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.36000001430511475px;
    text-align: left;
    color: var(--text-ff);
    padding-left: 25px;
    outline: none;
}

.sub-form>form>input[type="email"]::placeholder {
    font-family: Inter;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.36000001430511475px;
    text-align: left;
    color: var(--text-ff);
}

.sub-btn {
    width: 181px;
    height: 100%;
    border: none;
    font-family: Inter;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.36000001430511475px;
    text-align: center;
    color: var(--text-desc);
    background-color: var(--text-ff);
}

.mt-9 {
    margin-top: 9px;
}


/* SUBSCRIBE END */


/* Footer start */

.footer {
    width: 100%;
    height: 560px;
    background-color: var(--text-desc);
}

.c-desc {
    color: var(--bg-orange) !important;
}

.footer-box {
    width: 100%;
    height: 166.69px;
    border-bottom: 1px solid #4B557D;
}

.footer-row-1 {
    width: 100%;
    height: 168px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 49.69px;
    padding-bottom: 51.31px;
}

.c-item-logo {
    width: 288px;
    height: 68px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.f-t-text {
    font-family: Mulish;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.36000001430511475px;
    text-align: left;
    color: var(--text-ff);
}

.f-d-text {
    font-family: Inter;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.36000001430511475px;
    text-align: left;
    color: var(--text-ff);
}

.ml-75 {
    margin-left: 75.51px;
}

.logo-w {
    position: relative;
    top: 10px;
}

.f-row-1 {
    width: 395px;
    height: 223px;
    padding-right: 50.48px;
    position: relative;
}

.f-row-1-desc {
    width: 100%;
    height: 81px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.36000001430511475px;
    text-align: left;
    color: var(--text-ff);
}

.f-social {
    width: 100%;
    display: flex;
    position: absolute;
    bottom: 2.69px;
}

.s-logo {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2C3765;
    border-radius: 50%;
    margin-right: 15px;
}

.footer-row-2 {
    width: 100%;
    height: 304px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid #4B557D;
}

.f-row-2 {
    width: 236px;
    height: 223px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    position: relative;
    padding-left: 79.2px;
    margin-bottom: 41px;
}

.f-row-2::before {
    width: 1px;
    height: 223px;
    background-color: #4B557D;
    content: "";
    position: absolute;
    left: 0;
    top: 58px;
}

.f-row-3 {
    width: 236px;
    height: 223px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    position: relative;
    margin-bottom: 41px;
}

.f-row-3::before {
    width: 1px;
    height: 223px;
    background-color: #4B557D;
    content: "";
    position: absolute;
    left: 200px;
    top: 58px;
}

.f-row-4 {
    width: 236px;
    height: 223px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 41px;
}

.f-r-w {
    width: auto;
    height: 185px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.f-row-link {
    color: var(--text-ff);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.36000001430511475px;
    text-align: left;
}

.f20 {
    font-size: 20px;
}


/* Footer end */

#toTopScroll {
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #fff;
    border: 1px solid #ccc;
    z-index: 9999;
    cursor: pointer;
    transition: all 0.3s;
    opacity: 1;
    /* visibility: hidden; */
}

#toTopScroll::before {
    width: 15px;
    height: 15px;
    border-top: 3px solid #000;
    border-right: 3px solid #000;
    content: "";
    transform: rotate(-45deg);
    position: absolute;
    top: 20px;
    left: 15px;
}

#toTopScroll:hover {
    background-color: #000;
}

#toTopScroll:hover::before {
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
}

@media screen and (max-width: 1068px) {
    .navbar-box {
        width: 85.3%;
    }
    .welcome-box {
        flex-direction: column;
    }
    .offer-white-box {
        width: 90%;
        text-align: center;
        align-items: center;
        justify-content: center;
        display: flex;
        top: 1px;
    }
}