* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

header {
    background: #4A2B33;
    width: 100%;
}

nav {
    height: 120px;
    width: 100%;
    background: #4A2B33;
}

nav ul {
    display: flex;
    position: absolute;
    margin-right: 58px;
    margin-top: 47px;
}

nav ul li {
    list-style: none;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #D27487;
    border-radius: 20px;
}

.boxs12 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 150px;
}

a {
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    color: #D27487;
}

.container {
    width: 92.2%;
    margin: 0 auto;
}

.lolimage {
    width: 100%;
}


/* About us */

.box1 {
    margin: 15% auto;
    margin-bottom: 10%;
    height: auto;
    width: 100%;
}

.box1 h1 {
    font-family: Azeret Mono;
    font-size: 17px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    align-items: center;
}

.box1 p {
    font-family: Inter;
    font-size: 150%;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: center;
    margin: 0 auto;
    width: 80%;
}


/* About us tugadi */


/* About*/

.wid4 {
    width: auto;
    height: 1277px;
    background: #E9E9E3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box23 {
    display: flex;
}

.box2 {
    width: auto;
    margin-left: 8%;
}

.box2 h1 {
    font-family: Azeret Mono;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    color: #6F6F64;
    margin-top: 120px;
}

.box2 p {
    width: 60%;
    font-family: Inter;
    font-size: 32px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0em;
    margin-top: 17px;
    color: #6F6F64;
}

.btn {
    height: 58px;
    width: 50%;
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    border: 2px solid #6F6F64;
    background: #6F6F64;
    color: white;
    margin-top: 74px;
}

.btn1 {
    height: 58px;
    width: 50%;
    margin-top: 12px;
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #6F6F64;
    border: 2px solid #6F6F64;
    margin-bottom: 12px;
}

.btn2 {
    height: 58px;
    width: 50%;
    margin-top: 12px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #6F6F64;
    border: 2px solid #6F6F64;
}

.box2 {
    width: 50%;
}

.box2 img {
    width: 70%;
    height: auto;
    margin-top: 120px;
    margin-bottom: 120px;
    margin-left: 10%;
}


/* About tugadi*/


/* Abo */

.wid3 {
    height: auto;
    width: auto;
    background: #AA9E54;
}

.boc {
    padding-top: 120px;
    display: flex;
    flex-flow: row wrap;
}

.boq {
    width: 100%;
    margin-bottom: 120px;
}

.bok {
    height: 125px;
    width: 389.328125px;
    color: #FFFFFF;
    margin: 0 auto;
}

.bok h6 {
    font-family: Azeret Mono;
    font-size: 17px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
}

.bok h2 {
    font-family: Inter;
    font-size: 25px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
}

.bok h1 {
    font-family: Inter;
    font-size: 25px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
}

.bok1 {
    height: 233px;
    width: 389.328125px;
    color: #FFFFFF;
    margin: 0 auto;
}

.bok1 h6 {
    font-family: Azeret Mono;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
}

.bok1 h2 {
    font-family: Inter;
    font-size: 25px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
}

.bok1 h1 {
    font-family: Inter;
    font-size: 25px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
}

.hh {
    font-family: Inter;
    font-size: 25px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
}

.cc {
    font-family: Inter;
    font-size: 25px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
}

.bok2 {
    height: 125px;
    width: 389.328125px;
    color: #FFFFFF;
    margin: 0 auto;
}

.bok2 h6 {
    font-family: Azeret Mono;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
}

.bok2 p {
    font-family: Inter;
    font-size: 26px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    color: #FFFFFF;
}


/* tugadi */


/* Boshlandi */

.boc {
    margin-top: 1%;
}


/* 1 tugadi */


/* Boshlandi */

.wid2 {
    height: auto;
    background: #4A2B33;
}

.bol {
    margin: 0 auto;
}

.bol1 {
    width: auto;
    display: flex;
    flex-flow: row wrap;
}

.bol1 h1 {
    width: 413px;
    font-family: Azeret Mono;
    font-size: 47px;
    font-weight: 400;
    line-height: 63px;
    letter-spacing: 1px;
    margin-top: 1px;
    margin-left: 16px;
    color: #D27487;
    margin-top: 3%;
    margin-left: 56px;
}

.bol1 p {
    width: 574px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    color: #D27487;
    margin-top: 3%;
    margin-left: 20%;
}


/* tugadi */


/* BOshlandi */

.wid {
    height: auto;
    width: 100%;
    flex-flow: row wrap;
}

.bol2 {
    height: 70px;
    width: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 62px;
    flex-flow: row wrap;
}

.bol4 {
    height: auto;
    width: auto;
    margin-top: -31px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin-bottom: 15px;
}

.div44 {
    margin-left: 32px;
    margin-top: 4px;
}

.div45 {
    margin-left: 32px;
    margin-top: 4px;
}

.div46 {
    margin-left: 32px;
    margin-top: 4px;
}

.div47 {
    margin-left: 32px;
    margin-top: 4px;
}

.div48 {
    margin-left: 32px;
    margin-top: 4px;
}

.div49 {
    margin-left: 32px;
    margin-top: 4px;
}

.div50 {
    margin-left: 32px;
    margin-top: 4px;
}

.div51 {
    margin-left: 32px;
    margin-top: 4px;
}

.div52 {
    margin-left: 32px;
    margin-top: 4px;
}

.div53 {
    margin-left: 32px;
    margin-top: 4px;
}

.div54 {
    margin-left: 32px;
    margin-top: 4px;
}

.div55 {
    margin-left: 32px;
    margin-top: 4px;
}

.div56 {
    margin-left: 32px;
    margin-top: 4px;
}

.bol3 {
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.e1 {
    height: 19px;
    width: 124px;
    margin-left: 16px;
}

.e1 h1 {
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: #696969;
}

.e2 {
    height: 19px;
    width: 125px;
    margin-left: 16px;
}

.e2 h1 {
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    color: #696969;
}

.e3 {
    height: 19px;
    width: 136px;
}

.e3 h1 {
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: #696969;
}


/* tugadi */

@media screen and (max-width: 466px) {
    .bol2 {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 404px) {
    .lolimage {
        margin-top: 20px;
    }
}

@media screen and (max-width: 850px) {
    ul {
        display: flex;
        flex-flow: row wrap;
    }
    .boxs12 {
        margin-left: -115px;
    }
}

@media screen and (max-width: 1145px) {
    .box23 {
        display: flex;
        flex-flow: row wrap;
    }
    .img_box {
        width: 100%;
        height: auto;
        margin: 0;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .wid4 {
        height: auto;
        width: 100%;
    }
    .was {
        margin: 0 auto;
    }
}